
#sse1 {
	/*main menu background*/
	background-color: #222;
	height: 38px;
	padding: 15px;
	border-radius: 3px;
	box-sizing: content-box;
}

#sses1 {
		/*Center align menu*/
	margin: 0 auto;
}

#sses1 ul {
	position: relative;
	list-style-type: none;
	float: left;
	padding: 0;
	margin: 0;
	border-bottom: solid 1px #80ff00;
}

#sses1 li {
	float: left;
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-image: none;
}
/*CSS for background bubble*/
#sses1 li.highlight {
	background-color: #ffff80;
	top: 36px;
	height: 4px;
	border-bottom: solid 1px #C00;
	z-index: 1;
	position: absolute;
	overflow: hidden;
}


#main  {
	color: black;
	font: bold 12px arial;
	text-decoration: none;
}



#sses1 li a {
	box-sizing: content-box;
	height: 30px;
	padding-top: 8px;
	margin: 0 20px;
	/*used to adjust the distance between each menu item. Now the distance is 20+20=40px.*/
	color: #fff;
	font: bold 12px arial;
	text-align: center;
	text-decoration: none;
	float: left;
	display: block;
	position: relative;
	z-index: 2;
}
footer {
  position: absolute;
  color: white;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #000000;
  text-align: center;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form button[type="submit"] {
	font:400 12px/12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#contact-form {
	text-shadow:0 1px 0 #FFF;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	background:#F9F9F9;
	padding:25px;
}
#contact-form h3 {
	color:#00ff00;
	display:block;
	font-size:28px;
}
#contact-form h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}
#contact-form label span {
	cursor:pointer;
	color:#00ff00;
	display:block;
	margin:5px 0;
	font-weight:900;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
	width:100%;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
#contact-form textarea {
	height:100px;
	max-width:100%;
}
#contact-form button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#00ff00;
	background-image:linear-gradient(bottom, #8C1C50 0%, #00ff00 52%);
	background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #00ff00 52%);
	background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #00ff00 52%);
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-form button[type="submit"]:hover {
	background-image:linear-gradient(bottom, 000000 50%, #D3D3D3	 52%);
	background-image:-moz-linear-gradient(bottom, 000000 50%, #D3D3D3	 52%);
	background-image:-webkit-linear-gradient(bottom, 000000 50%, #D3D3D3	 52%);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
	box-shadow:inset 0 1px 3px rgba(0,0,0,12);
}
#contact-form input:focus,
#contact-form textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}